:host {
  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    position: relative;

    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 15px;

      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }

  mat-action-list {
    width: 500px;
    
    mat-checkbox {
      display: block;
      margin-bottom: 10px;
      padding-top: 10px;
    }
    
    @media only screen and (max-width: 599.98px) {
      width: 100%;
    }
  }
}

// awful yet the only workaround for long mat-checkboxes, see https://stackoverflow.com/questions/61531542/make-a-multiline-checkbox-in-material-angular/64447831
:host::ng-deep.mat-checkbox-layout{
  white-space: normal !important;
}