:host {
  align-items: center;
  display: flex;
  flex-direction: column;

  mat-action-list {
    width: 500px;
    
    mat-checkbox {
      display: block;
      margin-bottom: 10px;
      padding-top: 10px;
    }
  }
}

// awful yet the only workaround for long mat-checkboxes, see https://stackoverflow.com/questions/61531542/make-a-multiline-checkbox-in-material-angular/64447831
:host::ng-deep.mat-checkbox-layout{
  white-space: normal !important;
}