:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 20px 10px 10px 10px;

  @media only screen and (max-width: 599.98px) {
    padding: 20px 20px 10px 20px;
  }

  ::ng-deep {
    form {
      display: flex;
      flex-direction: column;
      width: 500px;
    
      @media only screen and (max-width: 599.98px) {
        width: 100%;
      }
    }

    .cta {
      margin-top: 15px;

      a {
        margin-left: 5px;
      }
    }
  }
}
