<mat-sidenav-container (backdropClick)="onBackdropClicked()">
    <mat-sidenav [disableClose]="true" [mode]="sidenavMode" [opened]="menuVisible" [autoFocus]="false">
        <mat-nav-list>
            <ng-container *ngFor="let item of _menuItems">
                <a mat-list-item [routerLink]="['checklists', item.id]" routerLinkActive="active" (click)="onLinkClick()">
                    {{item.name}}
                </a>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>