mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 200px;
  }

  mat-sidenav-content {
    box-sizing: border-box;
    padding: 10px;

    @media only screen and (max-width: 700px) {
      padding: 10px 20px;
    }
  }
}