mat-sidenav-container {
  height: 100%;

  mat-sidenav {
      width: 150px;

      @media only screen and (max-width: 700px) {
          width: 120px;
      }
  }

  mat-sidenav-content {
      padding: 10px;
  }
}