@import '../../../../styles.scss';

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 200px;

    mat-list-item {
      a.active {
        color: $primary;
        font-weight: 500;
      }
  
      button.remove {
        display: none;
      }
  
      &:hover {
        button.remove {
          display: block;
        }
      }
    }
  }

  mat-sidenav-content {
    box-sizing: border-box;
    padding: 10px;

    @media only screen and (max-width: 599.98px) {
      padding: 10px 20px;
    }
  }
}