@import '../../../../styles.scss';

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 200px;

    a.active {
      color: $primary;
      font-weight: 500;
    }
  }

  mat-sidenav-content {
    box-sizing: border-box;
    padding: 20px 10px 10px 10px;

    @media only screen and (max-width: 599.98px) {
      padding: 20px 20px 10px 20px;
    }
  }
}