<mat-sidenav-container (backdropClick)="onBackdropClicked()">
    <mat-sidenav [disableClose]="true" [mode]="sidenavMode" [opened]="menuVisible" [autoFocus]="false">
        <mat-nav-list>
            <mat-list-item *ngFor="let item of _menuItems">
                <a [routerLink]="['checklists', item.id]" routerLinkActive="active" (click)="onLinkClick()">
                    {{item.name}}
                </a>
                <button mat-icon-button class="remove" color="warn" (click)="onRemoveClick(item)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>